.image-gallery {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

img {
    width: 400px;
}

.bottom {
    text-align: center;
}

.about-chris {

    font-family: Arial, Helvetica, sans-serif;
    
}